<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://xdag.io/assets/images/fav/favicon.png" rel="icon">
    <link rel="stylesheet" href="assets/css/archive.css">

    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/common.css">
    <script src="assets/js/jquery-3.3.1.slim.min.js"></script>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/util.js"></script>
    <script src="assets/js/vue2.5.17.js"></script>
    <script src="assets/js/clipboard.min.js"></script>


    <title>Fomo XDAG | XDAG Park</title>
</head>
<body class="bg-dark">

<div id="games" v-cloak>
    <nav class="navbar navbar-expand-lg navbar-expand-sm navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="index.html"><span class="site-title">Fomo XDAG</span></a>


            <ul class="nav justify-content-end">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarNav">
                    <li class="nav-item">
                        <a class="nav-link active site-title" href="rules.html">规则</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link active site-title" href="archive.html">历史游戏</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle site-title" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            语言
                        </a>
                        <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item site-title" href="#">English</a>
                            <a class="dropdown-item site-title" href="#">中文</a>
                        </div>
                    </li>
                </div>
            </ul>
        </div>
    </nav>


    <div class="container-fluid main-info-address-rule-box">
        <div class="container">
            <div class="play-list-box">
                <h3 class="text-light text-center history-title">历史游戏</h3>

                <div class="row text-center play-item shadow-lg p-2 mb-3 bg-dark rounded" v-for="item in json_data.round_list">
                    <div class="col-sm">
                        <a class="round-link" :href="'round.html?index=' + item.data.round">
                            <div>
                                <span class="play-item-title">第几轮</span><br>
                                <span class="font-weight-bold play-item-value">{{ item.round }}</span>
                            </div>
                        </a>
                    </div>

                    <div class="col-sm">
                        <span class="play-item-title">参与数量</span><br>
                        <span class="font-weight-bold play-item-value">{{ item.data.total_play }}</span>
                    </div>

                    <div class="col-sm">
                        <span class="play-item-title">总分红</span><br>
                        <span class="font-weight-bold play-item-value">{{ item.data.dividend_to_prev_player_amount }} XDAG</span>
                    </div>

                    <div class="col-sm">
                        <span class="play-item-title">幸运总奖金</span><br>
                        <span class="font-weight-bold play-item-value">{{ item.data.bonus_to_lucky_player_amount }} XDAG</span>
                    </div>

                    <div class="col-sm">
                        <span class="play-item-title">头奖奖金</span><br>
                        <span class="font-weight-bold play-item-value">{{ item.data.bonus_to_jackpot_amount }} XDAG</span>
                    </div>

                    <div class="col-sm">
                        <span class="play-item-title">头奖玩家地址</span><br>
                        <span class="font-weight-bold play-item-value">{{ item.data.jackpot_player_address }}</span>
                    </div>
                </div>


            </div>
        </div>

        <footer class="text-center">
            <div>Fomo XDAG | <a href="http://xdagpark.com" class="text-primary">XDAG Park</a></div>
            <div>Copyright 2018</div>
            <div>xdagpark@outlook.com</div>
        </footer>

    </div>
</div>
</body>


<script>

    var games = new Vue({
        el: '#games',
        data: {
            json_data: {
                "round_list": []
            },

            lang_en: {

            },
            lang_ch: {

            },

            curr_lang: this.lang_en,
        },

        methods: {
            setEnglishInterface: function () {
                this.curr_lang = this.lang_en;
            },
            setChineseInterface: function () {
                this.curr_lang = this.lang_ch;
            },
            refreshData: function (data) {
                this.json_data = data;
            },
            setChinese: function (event) {
                setChineseLangCookie();
                this.setChineseInterface();

            },
            setEnglish: function (event) {

                setEnglishLangCookie();
                this.setEnglishInterface()
            },
        },
        filters:
            {

            }

    });


    setTimeout(function () {
        refresh();
    });
    setInterval(function () {
        refresh();
    }, 3000);

    function refresh() {
        $.ajax({
            dataType: "json",
            type: "GET",
            url: "json/archive.json",
            cache: false,
            success: function (data) {
                games.refreshData(data);
                //alert(data)
            },
            error: function () {
                //alert("error")
            }
        });
    }


    $(function () {

        if (isChinese()) {
            games.setChineseInterface();
        }
        else {
            games.setEnglishInterface();
        }

    });

</script>


</html>