<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://xdag.io/assets/images/fav/favicon.png" rel="icon">
    <link rel="stylesheet" href="assets/css/index.css">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/common.css">
    <script src="assets/js/jquery-3.3.1.slim.min.js"></script>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/util.js"></script>
    <script src="assets/js/vue2.5.17.js"></script>
    <script src="assets/js/clipboard.min.js"></script>

    <title>Fomo XDAG | XDAG Park</title>
</head>
<body class="bg-dark">

<div id="games" v-cloak>
    <nav class="navbar navbar-expand-lg navbar-expand-sm navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="index.html"><span class="site-title">Fomo XDAG</span></a>


            <ul class="nav justify-content-end">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarNav">
                    <li class="nav-item">
                        <a class="nav-link active site-title" href="rules.html">规则</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link active site-title" href="archive.html">历史游戏</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle site-title" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            语言
                        </a>
                        <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item site-title" href="#">English</a>
                            <a class="dropdown-item site-title" href="#">中文</a>
                        </div>
                    </li>
                </div>
            </ul>
        </div>
    </nav>


    <div class="container">
        
        <!-- <br>
        <h1 class="text-danger text-center">{ 上一轮游戏支付有一部分支付成功，有一部分卡住，正在进行人工处理，预计2个小时，抱歉 }</h1> -->
        
        
        <div class="card border-dark shadow-lg p-2 mb-3 bg-dark rounded main-card-box text-center">
            <div class="card-body main-card-box-content">
                <div class="des-story">
                    <span>加入游戏，获得分红，拿到头奖</span><br>
                    <span>不要错过这个可以暴富的骗局</span>
                </div>
                <div>
                    <span class="main-curr-bonus-title font-weight-bold">当前奖池</span><br>
                    <span class="main-curr-bonus-value font-weight-bold">{{ index_data.amount_to_bonus + index_data.amount_from_prev_round | numFilter}} XDAG</span><br>
                    <div class="main-curr-bonus-countdown">{{ time_state }} </div>
                </div>

            </div>
        </div>
    </div>

    <h5 class="color-pink text-center">{{ dev_message }}</h5>

    <div class="container-fluid main-info-address-rule-box">
        <div class="container">

            <div class="card-deck">
                <div class="card border-dark shadow-lg p-2 mb-3 bg-dark rounded">
                    <div class="card-body play-address-box">
                        <h5 class="card-title text-center font-weight-bold">发送XDAG到下面的地址，参与游戏</h5>
                        <div><img src="assets/image/address_qrcode.png" class="img-address"></div>
                        <br>
                        <div class="text-center font-weight-bold" class="text-address" id="fomo-xdag-play-address">0vFAaFwfrh9vnwhXHm0zx3cDKqRJJtrR</div>
                        <br>
                        <div class="text-center">
                            <button type="button" class="btn btn-info btn-md btn-block" data-toggle="tooltip" data-placement="bottom" title="Tooltip on bottom" id="btn-copy-address" data-clipboard-target="#fomo-xdag-play-address">拷贝地址</button>
                        </div>
                    </div>
                </div>
                <div class="card border-dark shadow-lg p-2 mb-3 bg-dark rounded">
                    <div class="card-body text-center curr-round-info font-weight-bold">
                        <p>第<span class="color-pink">{{ index_data.round }}</span>轮游戏</p>
                        <p>参与数量: <span class="color-pink">{{ index_data.total_play }}</span></p>
                        <p>总金额: <span class="color-pink">{{ index_data.total_join_amount | numFilter}} </span>XDAG</p>
                        <p>分红金额: <span class="color-pink">{{ index_data.amount_to_prev_player | numFilter}} </span>XDAG</p>
                        <p>奖池金额: <span class="color-pink">{{ index_data.amount_to_bonus + index_data.amount_from_prev_round | numFilter}} </span>XDAG</p>
                        <p>来自上一轮金额: <span class="color-pink">{{ index_data.amount_from_prev_round | numFilter}} </span>XDAG</p>
                        <p>当前最高参与金额: <span class="color-pink">{{ index_data.curr_max_play_amount }} </span>XDAG</p>
                        <p>最高金额玩家地址: <span class="color-pink">{{ index_data.curr_max_amount_player_address }}</span></p>
                        <p>本轮游戏预计剩余时间:</p>
                        <p class="color-pink">{{ time_state }}</p>
                    </div>
                </div>
                <div class="card border-dark shadow-lg p-2 mb-3 bg-dark rounded">
                    <div class="card-body rules-info font-weight-bold">
                        <h5 class="card-title">游戏规则 <span style="font-size:14px;" class="text-primary"><a href="rules.html">(查看详细游戏规则)</a></span></h5>
                        <p>1. 转入至少 <span class="color-blue">10</span> 个XDAG 参与游戏 (请不要从交易所地址转入)</p>
                        <p>2. 每一次转入, 作为一次参与, 每一次参与金额的 <span class="color-blue">55%</span> 进入奖池, <span class="color-blue">40%</span> 作为分红, 按比例分配给本轮更早参与游戏的玩家, <span class="color-blue">5%</span> 开发者。</p>
                        <p>3. 在一轮游戏结束时，参与金额最高的玩家，将拿走<span class="text-danger">头奖</span>，即本轮奖池中 <span class="color-blue">65%</span> 的XDAG。其余 <span class="color-blue">20%</span> 按比例分给本轮游戏20名幸运玩家, <span class="color-blue">5%</span> 开发者, <span class="color-blue">10%</span> 进入下轮游戏奖池。</p>
                        <p>4. 每当有大于当前最高金额的参与时，本轮游戏结束时间重置为<span class="color-blue">128分钟</span>, 每当有小于等于当前最高金额的参与时, 游戏结束时间增加<span class="color-blue">128秒</span> (游戏结束时间上限为128分钟)</p>
                        <p class="text-danger">5. 请仔细阅读详细规则中的关于延迟部分</p>
                    </div>
                </div>
            </div>


            <div class="play-list-box">

                <div class="row text-center play-item shadow-lg p-2 mb-3 bg-dark rounded" v-for="item in index_data.curr_play_list">
                    <div class="col-sm">
                        <span class="play-item-title">交易ID</span><br>
                        <span class="font-weight-bold text-nowrap">{{ item.play_id }}</span>
                    </div>
                    <div class="col-sm">
                        <span class="play-item-title">交易数量</span><br>
                        <span class="font-weight-bold">{{ item.amount }}</span>
                    </div>

                    <div class="col-sm">
                        <span class="play-item-title">累计分红</span><br>
                        <span class="font-weight-bold">{{ item.dividend_reward }}</span>
                    </div>

                    <div class="col-sm">
                        <span class="play-item-title">玩家地址</span><br>
                        <span class="font-weight-bold text-nowrap">{{ item.player_address }}</span>
                    </div>

                    <div class="col-sm">
                        <!-- <span class="play-item-title">参与时间(UTC)</span><br>
                        <span class="font-weight-bold">{{ item.join_str_time }}</span> -->
                        <span class="play-item-title">参与时间</span><br>
                        <span class="font-weight-bold">{{ item.join_timestamp | timeFilter }}</span>
                    </div>
                </div>
            </div>

        </div>


        <footer class="text-center">
            <div>Fomo XDAG | <a href="http://xdagpark.com" class="text-primary">XDAG Park</a></div>
            <div>Copyright 2018</div>
            <div>xdagpark@outlook.com</div>
        </footer>

    </div>
</div>
</body>


<script>

    $(document).ready(function(){
        $('#btn-copy-address').tooltip({
            trigger: 'click',
            placement: 'bottom'
        });

        function setTooltip(message) {
            $('#btn-copy-address').tooltip('hide')
                .attr('data-original-title', message)
                .tooltip('show');
        }

        function hideTooltip() {
            setTimeout(function() {
                $('#btn-copy-address').tooltip('hide');
            }, 1000);
        }

        // Clipboard

        var clipboard = new Clipboard('#btn-copy-address');

        clipboard.on('success', function(e) {
            setTooltip('Copied!');
            hideTooltip();
        });

        clipboard.on('error', function(e) {
            setTooltip('Failed!');
            hideTooltip();
        });
    });




    //new ClipboardJS('#btn-copy-address');

    var games = new Vue({
        el: '#games',
        data: {
            index_data: {
                "round": 0,
                "surplus_time": -1,
                "start_timestamp": -1,
                "total_play": 0,
                "total_join_amount": 0,
                "amount_to_prev_player": 0,
                "amount_to_bonus": 0,
                "amount_from_prev_round": 0,
                "curr_max_amount_play_id": "-",
                "curr_max_amount_player_address": "-",
                "curr_max_play_amount": 0,
                "curr_play_list": [],
                "prev_round": {
                    "round": 0,
                    "start_str_time": "",
                    "total_play": 0,
                    "total_join_amount": 0,
                    "dividend_to_prev_player_amount": 0,
                    "dividend_to_dev_amount": 0,
                    "dividend_to_bonus_amount": 0,
                    "bonus_from_prev_round_amount": 0,
                    "bonus_to_jackpot_amount": 0,
                    "bonus_to_lucky_player_amount": 0,
                    "bonus_to_dev_amount": 0,
                    "bonus_to_next_round_amount": 0,
                    "jackpot_play_id": "",
                    "jackpot_player_address": "",
                    "jackpot_play_amount": 0,
                    "end_str_time": ""
                },

                lang_en: {

                },
                lang_ch: {

                },

                curr_lang: this.lang_en,

            },
            prev_surplus_time: -1000,
            time_state: "正在同步数据...",
            curr_tips:"",
            dev_message:"",
        },

        methods: {
            setEnglishInterface: function () {
                this.curr_lang = this.lang_en;
            },
            setChineseInterface: function () {
                this.curr_lang = this.lang_ch;
            },
            refreshData: function (data) {
                if(data.surplus_time != this.prev_surplus_time) {
                    this.index_data = data;
                    this.prev_surplus_time = data.surplus_time;
                    this.index_data.surplus_time = parseInt(data.surplus_time);
                }

                this.index_data.amount_from_prev_round = data.amount_from_prev_round;
            },
            refreshDevMessage: function(data){
                if (data.msg != ""){
                    this.dev_message = "{ " + data.msg + " }";
                }
                else{
                    this.dev_message = "";
                }
            },
            setChinese: function (event) {
                setChineseLangCookie();
                this.setChineseInterface();

            },
            setEnglish: function (event) {

                setEnglishLangCookie();
                this.setEnglishInterface()
            },
        },
        filters:
            {
                numFilter(value) {

                    // 截取当前数据到小数点后三位

                    let transformVal = Number(value).toFixed(7)

                    let realVal = transformVal.substring(0, transformVal.length - 1)

                    // num.toFixed(3)获取的是字符串

                    return Number(realVal)

                },
                timeFilter(value){

                    var d = new Date(value);
                    var year = d.getFullYear();
                    var month = (Array(2).join('0') + (d.getMonth() + 1)).slice(-2); //d.getMonth() + 1;
                    var day = (Array(2).join('0') + d.getDate()).slice(-2); //d.getDate();
                    var hour = (Array(2).join('0') + d.getHours()).slice(-2); //d.getHours();
                    var minute = (Array(2).join('0') + d.getMinutes()).slice(-2); //d.getMinutes();
                    var second = (Array(2).join('0') + d.getSeconds()).slice(-2); //d.getSeconds();
                    var mSeconds = d.getMilliseconds();

                    return year + "-" + month + "-" + day + " " + hour + ":" + minute + ":" + second + "." + mSeconds;
                }
            }

    });


    setTimeout(function () {
        refresh();
    });
    setInterval(function () {
        refresh();
    }, 3000);


    setTimeout(function () {
        refreshDevData();
    });
    setInterval(function () {
        refreshDevData();
    }, 3000);


    setInterval(function(){
       if(games.index_data.surplus_time > 0){
           games.index_data.surplus_time -= 1;
           games.time_state = games.index_data.surplus_time + " 秒";
       }
       else{
           if(games.index_data.curr_play_list.length == 0){
               games.time_state = "正在等待本轮第一位玩家加入...";
           }else{
               games.time_state = "正在同步数据...";
           }
       }

       // let jamount =  (games.index_data.amount_to_bonus + games.index_data.amount_from_prev_round) * 0.65;
       // jamount = parseInt(jamount)

       // if(games.index_data.curr_play_list.length == 0){
       //      games.curr_tips = "{ 当前只需要1 XDAG就可以拿到头奖 " + jamount + " XDAG~ }";
       // }
       // else{
       //      if (games.index_data.curr_max_play_amount > jamount){
       //          games.curr_tips = "{ 向" + games.index_data.curr_max_play_amount + " XDAG的土豪致敬~ }";
       //      }
       //      else{
       //          games.curr_tips = "{ 当前有人以" + games.index_data.curr_max_play_amount + " XDAG，可以拿到头奖" + jamount + " XDAG~ }"
       //      }
       // }

    },1000);

    function refresh() {
        $.ajax({
            dataType: "json",
            type: "GET",
            url: "./json/index.json",
            cache: false,
            success: function (data) {
                games.refreshData(data);
                //alert(data)
            },
            error: function () {
                //alert("error")
            }
        });
    }

    function refreshDevData() {
        $.ajax({
            dataType: "json",
            type: "GET",
            url: "./json/message.json",
            cache: false,
            success: function (data) {
                games.refreshDevMessage(data);
                //alert(data)
            },
            error: function () {
                //alert("error")
            }
        });
    }


    $(function () {

        if (isChinese()) {
            games.setChineseInterface();
        }
        else {
            games.setEnglishInterface();
        }
        $('[data-toggle="tooltip"]').tooltip();
    });

</script>


</html>