<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://xdag.io/assets/images/fav/favicon.png" rel="icon">
    <link rel="stylesheet" href="assets/css/round.css">

    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/common.css">
    <script src="assets/js/jquery-3.3.1.slim.min.js"></script>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/util.js"></script>
    <script src="assets/js/vue2.5.17.js"></script>
    <script src="assets/js/clipboard.min.js"></script>

    <title>Fomo XDAG | XDAG Park</title>
</head>
<body class="bg-dark">

<div id="games" v-cloak>
    <nav class="navbar navbar-expand-lg navbar-expand-sm navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="index.html"><span class="site-title">Fomo XDAG</span></a>


            <ul class="nav justify-content-end">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarNav">
                    <li class="nav-item">
                        <a class="nav-link active site-title" href="rules.html">规则</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link active site-title" href="archive.html">历史游戏</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle site-title" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            语言
                        </a>
                        <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item site-title" href="#">English</a>
                            <a class="dropdown-item site-title" href="#">中文</a>
                        </div>
                    </li>
                </div>
            </ul>
        </div>
    </nav>


    <div class="container-fluid main-info-address-rule-box">
        <div class="container">

            <div class="play-list-box">
                <h3 class="text-light history-title">第 {{ json_data.round_info.round }} 轮游戏</h3>

                <div class="row text-light">
                    <div class="col-sm-3">
                        <span>开始时间</span>
                    </div>

                    <div class="col-sm value-color">
                        <span>UTC {{ json_data.round_info.start_str_time }}</span>
                    </div>
                </div>

                <div class="row text-light">
                    <div class="col-sm-3">
                        <span>参与数量</span>
                    </div>

                    <div class="col-sm value-color">
                        <span>{{ json_data.round_info.total_play }}</span>
                    </div>
                </div>

                <div class="row text-light">
                    <div class="col-sm-3">
                        <span>总参与金额</span>
                    </div>

                    <div class="col-sm value-color">
                        <span>{{ json_data.round_info.total_join_amount }} XDAG</span>
                    </div>
                </div>

                <div class="row text-light">
                    <div class="col-sm-3">
                        <span>分红金额</span>
                    </div>

                    <div class="col-sm value-color">
                        <span>{{ json_data.round_info.dividend_to_prev_player_amount }} XDAG</span>
                    </div>
                </div>

                <div class="row text-light">
                    <div class="col-sm-3">
                        <span>本轮奖池金额</span>
                    </div>

                    <div class="col-sm value-color">
                        <span>{{ json_data.round_info.dividend_to_bonus_amount }} XDAG</span>
                    </div>
                </div>

                <div class="row text-light">
                    <div class="col-sm-3">
                        <span>来自上轮游戏金额</span>
                    </div>

                    <div class="col-sm value-color">
                        <span>{{ json_data.round_info.bonus_from_prev_round_amount }} XDAG</span>
                    </div>
                </div>

                <div class="row text-light">
                    <div class="col-sm-3">
                        <span class="bonus-jackpot">头奖奖金</span>
                    </div>

                    <div class="col-sm">
                        <span class="bonus-jackpot bonus-color">{{ json_data.round_info.bonus_to_jackpot_amount }} XDAG</span>
                    </div>
                </div>

                <div class="row text-light">
                    <div class="col-sm-3">
                        <span>幸运玩家总奖金</span>
                    </div>

                    <div class="col-sm value-color">
                        <span>{{ json_data.round_info.bonus_to_lucky_player_amount }} XDAG</span>
                    </div>
                </div>

                <div class="row text-light">
                    <div class="col-sm-3">
                        <span>分配给下一轮游戏奖金</span>
                    </div>

                    <div class="col-sm value-color">
                        <span>{{ json_data.round_info.bonus_to_next_round_amount }} XDAG</span>
                    </div>
                </div>

                <div class="row text-light">
                    <div class="col-sm-3">
                        <span>头奖玩家参与ID</span>
                    </div>

                    <div class="col-sm value-color">
                        <span>{{ json_data.round_info.jackpot_play_id }}</span>
                    </div>
                </div>

                <div class="row text-light">
                    <div class="col-sm-3">
                        <span>头奖玩家地址</span>
                    </div>

                    <div class="col-sm value-color">
                        <span>{{ json_data.round_info.jackpot_player_address }}</span>
                    </div>
                </div>

                <div class="row text-light">
                    <div class="col-sm-3">
                        <span>头奖玩家参与金额</span>
                    </div>

                    <div class="col-sm value-color">
                        <span>{{ json_data.round_info.jackpot_play_amount }} XDAG</span>
                    </div>
                </div>

            </div>


            <div class="play-list-box">
                <h4 class="text-light">分红和奖金支付明细</h4>
                <h5 class="text-light">{{ payment_state }}</h5>
                <div class="row text-center play-item shadow-lg p-2 mb-3 bg-dark rounded" v-for="item in payment_list">

                    <div class="col-sm">
                        <span class="play-item-title">参与ID</span><br>
                        <span class="font-weight-bold value-color">{{ item.play_id }}</span>
                    </div>

                    <div class="col-sm">
                        <span class="play-item-title">玩家地址</span><br>
                        <span class="font-weight-bold value-color">{{ item.to_address }}</span>
                    </div>


                    <div class="col-sm">
                        <span class="play-item-title">支付ID</span><br>
                        <span class="font-weight-bold value-color">{{ item.transaction_id }}</span>
                    </div>

                    <div class="col-sm">
                        <span class="play-item-title">支付数量</span><br>
                        <span class="font-weight-bold value-color">{{ item.amount }} XDAG</span>
                    </div>

                    <div class="col-sm">
                        <span class="play-item-title">支付类型</span><br>
                        <span class="font-weight-bold value-color" v-if="item.payment_type == 0">分红</span>
                        <span class="font-weight-bold value-color" v-if="item.payment_type == 1">分红(开发者)</span>
                        <span class="font-weight-bold bonus-color bonus-jackpot" v-if="item.payment_type == 2">奖金(头奖)</span>
                        <span class="font-weight-bold bonus-color" v-if="item.payment_type == 3">奖金(幸运玩家)</span>
                        <span class="font-weight-bold bonus-color" v-if="item.payment_type == 4">奖金(开发者)</span>
                    </div>

                </div>
            </div>


            <div class="play-list-box">
                <h4 class="text-light">本轮参与列表</h4>
                <div class="row text-center play-item shadow-lg p-2 mb-3 bg-dark rounded" v-for="item in json_data.play_list">
                    <div class="col-sm">
                        <span class="play-item-title">参与ID</span><br>
                        <span class="font-weight-bold text-nowrap value-color">{{ item.play_id }}</span>
                    </div>
                    <div class="col-sm">
                        <span class="play-item-title">交易数量</span><br>
                        <span class="font-weight-bold value-color">{{ item.amount }} XDAG</span>
                    </div>

                    <div class="col-sm">
                        <span class="play-item-title">累计分红</span><br>
                        <span class="font-weight-bold value-color">{{ item.dividend_reward }} XDAG</span>
                    </div>

                    <div class="col-sm">
                        <span class="play-item-title">玩家地址</span><br>
                        <span class="font-weight-bold text-nowrap value-color">{{ item.player_address }}</span>
                    </div>

                    <div class="col-sm">
                        <span class="play-item-title">参与时间(UTC)</span><br>
                        <span class="font-weight-bold value-color">{{ item.join_str_time }}</span>
                    </div>
                </div>
            </div>





        </div>
    </div>

    <footer class="text-center">
        <div>Fomo XDAG | <a href="http://xdagpark.com" class="text-primary">XDAG Park</a></div>
        <div>Copyright 2018</div>
        <div>xdagpark@outlook.com</div>
    </footer>

</div>
</div>
</body>


<script>

    var games = new Vue({
        el: '#games',
        data: {
            json_data: {
                "round_info": {
                    "round": -1,
                    "start_str_time": "-",
                    "total_play": -1,
                    "total_join_amount": -1,
                    "dividend_to_prev_player_amount": -1,
                    "dividend_to_dev_amount": -1,
                    "dividend_to_bonus_amount": -1,
                    "bonus_from_prev_round_amount": -1,
                    "bonus_to_jackpot_amount": -1,
                    "bonus_to_lucky_player_amount": -1,
                    "bonus_to_dev_amount": -1,
                    "bonus_to_next_round_amount": -1,
                    "jackpot_play_id": "-",
                    "jackpot_player_address": "-",
                    "jackpot_play_amount": -1,
                    "end_str_time": "-"
                },
                "play_list": []
            },

            payment_list: [],

            lang_en: {

            },
            lang_ch: {

            },

            curr_lang: this.lang_en,
            payment_state: "正在进行支付...",
        },
        // 在 `methods` 对象中定义方法
        methods: {
            setEnglishInterface: function () {
                this.curr_lang = this.lang_en;
            },
            setChineseInterface: function () {
                this.curr_lang = this.lang_ch;
            },
            refreshData: function (data) {
                this.json_data = data;
            },
            refreshPaymentData: function (data){

                this.payment_list = data;
                if (this.payment_list.length > 0) {
                    this.payment_state = "";
                }

            },
            setChinese: function (event) {
                setChineseLangCookie();
                this.setChineseInterface();

            },
            setEnglish: function (event) {

                setEnglishLangCookie();
                this.setEnglishInterface()
            },
        },
        filters:
            {

            }

    });


    var curr_round = -1;

    function refresh(json_file) {
        $.ajax({
            dataType: "json",
            type: "GET",
            url: json_file,
            cache: false,
            success: function (data) {
                games.refreshData(data);
                //alert(data)
            },
            error: function () {
                //alert("error")
            }
        });
    }


    function refreshPaymentData(json_file) {
        $.ajax({
            dataType: "json",
            type: "GET",
            url: json_file,
            cache: false,
            success: function (data) {
                games.refreshPaymentData(data);
                //alert(data)
            },
            error: function () {
                //alert("error")
            }
        });
    }

    $(function () {

        if (isChinese()) {
            games.setChineseInterface();
        }
        else {
            games.setEnglishInterface();
        }

        let url_round_index = getUrlVars()["index"]
        curr_round = url_round_index;


        if (curr_round > 0) {
            mainJsonFile = "json/round/round_" + curr_round + ".json";
            paymentJsonFile = "json/payment/payment_round_" + curr_round + ".json";

            setTimeout(function () {
                refresh(mainJsonFile);
            });
            setInterval(function () {
                refresh(mainJsonFile);
            }, 5000);

            setTimeout(function () {
                refreshPaymentData(paymentJsonFile);
            });
            setInterval(function () {
                refreshPaymentData(paymentJsonFile);
            }, 5000);
        }
    });

</script>


</html>