
.history-title{
    margin-bottom: 30px;
}

.play-list-box{
    margin-top:80px;
}

.play-item {
    font-size:14px;
    /*color:#C5FBCC;*/
    /*color: #F7EBA4;*/
    color:#6BF287;
}



.play-item-title{
    color:#6BF287;

}

.play-item-value{
    color: #FD7B7A;
}

.round-link{
    /*text-decoration: none;*/
    text-decoration: underline;
}

.round-link:hover{
    font-size:16px;
    /*text-decoration: none;*/
}