
.history-title{
    margin-bottom: 30px;
}

.play-list-box{
    margin-top:80px;
}

.play-item {
    font-size:14px;
    /*color:#C5FBCC;*/
    /*color: #F7EBA4;*/
    color:#6BF287;
}



.play-item-title{
    color:#6BF287;

}

.value-color {
    color: #FD7B7A;
}

.bonus-color{
    color:#E32828;
}

.bonus-jackpot{
    font-size:18px;
}

.round-link{
    text-decoration: none;
}

.round-link:hover{
    font-size:16px;
    text-decoration: none;
}