
.main-card-box{
	margin-top:50px;
}

.main-card-box-content{
	margin-top:50px;
	margin-bottom:50px;
}

.des-story{
	color:#52DADA;
	font-size:36px;
	margin-bottom:80px;
}


.main-curr-bonus-title{
	font-size:20px;
	color:#6BF287;
}

.main-curr-bonus-value {
	font-size: 80px;
	color:#f98ca4;

	text-shadow:
	-1px -1px 0 #6e1f58, 1px -1px 0 #6e1f58, -1px 1px 0 #6e1f58, 1px 1px 0 #6e1f58,
	1px 0px 0px #65f283, 0px 1px 0px #65f283, 2px 1px 0px #65f283, 1px 2px 0px #65f283, 3px 2px 0px #65f283, 2px 3px 0px #65f283, 4px 3px 0px #65f283, 3px 4px 0px #65f283, 5px 4px 0px #65f283,
	3px 5px 0px #6e1f58, 6px 5px 0px #6e1f58,
	-1px 2px 0 black, 0 3px 0 #6e1f58, 1px 4px 0 #6e1f58, 2px 5px 0px #6e1f58,
	2px -1px 0 #6e1f58, 3px 0 0 #6e1f58, 4px 1px 0 #6e1f58, 5px 2px 0px #6e1f58, 6px 3px 0 #6e1f58, 7px 4px 0 #6e1f58,
	10px 10px 4px #dac249;
}

.main-curr-bonus-countdown{
	margin-top:60px;
	font-size:36px;
	color:#f98ca4;

}


.main-info-address-rule-box{
	margin-top:50px;
	/*background: white;*/
}

.rules-text{
	font-size:16px;
}

.play-address-box{
	color:#f98ca4;
}

.curr-round-info{
	color:#52DADA;
	font-size:18px;
}

.rules-info{
	color:#f98ca4;
	font-size:16px;
}


.img-address {
	width:100%;
	height:100%;
}

.text-address{
	width:100%;
	height:100%;
}


.play-list-box{
	margin-top:100px;
}

.play-item {
	font-size:14px;
	/*color:#C5FBCC;*/
	/*color: #F7EBA4;*/
	color:#6BF287;
}

.play-item-title{


}

.rules-secondary-text{
	font-size:14px;
	color:lightgray;
}

